*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Nunito",sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.navbar h2{
    color: rgb(196, 137, 12);
    margin-right: 100px;
    font-weight: bolder;
    font-size: 2em;
    letter-spacing: -0.025em;
}
.nav-links {
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-links li {
    margin: 0 8px;
}
.navbar a{
    margin: 0 20px;
    color: black;
}
.navbar .book{
    background: rgb(196, 137, 12);
    color: #fff;
    padding: 6px 20px;
    border-radius: 8px;
    transition: 0.1s ease;
}
.booking-section {
    max-width: 1000px;
    margin: 60px auto;
    padding: 0 20px;
    text-align: center;
}

.booking-section h1 {
    font-size: 2.5rem;
    color: rgb(196, 137, 12);
    margin-bottom: 10px;
}
.booking-section p {
    font-size: 1rem;
    margin-bottom: 40px;
    color: #555;
}
.booking-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
  }
  
  .booking-form {
    flex: 1 1 450px;
    display: flex;
    flex-direction: column;
  }
  
  .booking-form label {
    font-weight: 600;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .booking-form input,
   select,
  .booking-form textarea {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    resize: vertical;
  }
  
  .booking-form button {
    padding: 12px;
    background-color: rgb(196, 137, 12);
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .booking-form button:hover {
    background-color: rgb(230, 179, 71);
    transform: scale(1.1);
  }
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1001;
  }
  .bar {
      display: block;
      height: 3px; 
      width: 25px;
      background: rgb(196, 137, 12);
      margin: 4px 4px;
      border-radius: 1px;
      cursor: pointer;
      -webkit-transition: all 0.3 ease-in-out;
      transition: all 0.3 ease-in-out; 
  }

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(50deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-50deg);
    }
    .nav-links {
      position: absolute;
      top: 120px;
      left: -100%;
      flex-direction: column;
      width: 100%;
      background: #fff;
      text-align: center;
      transition: 0.4s ease;
      z-index: 1000;
      padding: 1rem 0;
      height: 100vh;
    }
  
    .nav-links.active {
      left: 0;
    }
  
    .nav-links li {
      margin: 0;
      margin: 10px 0;
    }
    .nav-links a {
        color: #000;
    }
  }